# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.db
*.sqlite3
*.log

# Virtual environments
.env/
.venv/
Pipfile.lock
*.tox
*.nox
*.coverage
*.hypothesis

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__
db.sqlite3
media
static

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__pycache__/

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
