# ==================
# General
# ==================
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
.DS_Store
.env
.vscode/

# ==================
# Pipenv
# ==================
Pipfile.lock
# O si usas entorno dentro del proyecto:
.venv/

# ==================
# Django
# ==================
db.sqlite3
/static/
/media/
/*.py[cod]
*.db
*.pot
*.pyc
instance/
.webassets-cache

# ==================
# Angular
# ==================
# Node modules
node_modules/

# Build output
dist/
tmp/
out-tsc/
.angular/cache/
.angular/config.json

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Environment files
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
